---

---
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);


$mainColor: #83c6fe;
$secondaryColor: #4af2a1;
$offWhite: #f7f9f9;
$default_color: white;
$primary_color: #3498db;
$success_color: #2ecc71;
$info_color: #81cfe0;
$warning_color: #f39c12;
$danger_color: #c0392b;
$black: black;

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

@mixin heading-font($brand) {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 900;
}

@mixin background-size($size) {
  -o-background-image: $size;
  -webkit-background-size: $size;
  -moz-background-size: $size;
  background-size: $size;
}

@mixin translateX($translate) {
  -moz-transform: translateX($translate);
  -ms-transform: translateX($translate);
  -webkit-transform: translateX($translate);
  transform: translateX($translate);
}

@mixin translateY($translate) {
  -moz-transform: translateY($translate);
  -ms-transform: translateY($translate);
  -webkit-transform: translateY($translate);
  transform: translateY($translate);
}



* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  padding: 0;
}

.hero {
  background: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: $offWhite;
  .hero-content.container {
    padding-bottom: 5%;
    text-align: center;

    span.sub-brand {
      font-family: "Raleway", sans-serif;
      display: block;
      font-size: 30px;
    }
    #top {
      font-size: 10px;
      font-family: "Raleway", sans-serif;
      .gradient-mask-text {
        font-size: 1.4em;
        line-height: 1.4em;
        padding-left: 15%;
        padding-top: 2%;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
      }
      &:after {
        display: block;
        content: "";
        left: 50%;
        margin: 0 auto;
        width: 252px;
        height: 1px;
        background: #6bb6ee;
      }
      &:before {
        display: block;
        content: "";
        width: 400px;
        margin: 0 auto;
        height: 1px;
        top: 0;
        background: $secondaryColor;
      }
      &:after {
        background: $secondaryColor;
      }
    }
    #links {
      padding: 2%;
      .button {
        display: inline-block;
        max-width: 20%;
        border: 8px solid $offWhite;
        padding: 15px 15px 15px 15px;
        background: $mainColor;
        color: $offWhite;
        font-size: 2em;
        font-weight: 500;
        text-decoration: none;
        &:hover {
          border: 8px solid $mainColor;
          background: $offWhite;
          @include transition(all 2s ease);
          color: $secondaryColor;
        }
      }
    }
  }
}

.brand{

  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  background: $mainColor;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  color: $offWhite;

  span.fat{
    font-weight: 900;

  }

  span.medium{
    font-weight: 500;

  }

  span.skinny{
    font-weight: 100;
  }
}




// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

