<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta property="og:type" content="website">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="3 days">
  <meta property="og:site_name" content="David Bailey Mitchell">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ '/css/pure.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | prepend: site.baseurl }}">
  <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <meta name="msvalidate.01" content="289CABF38C35574DEE8CBFE8D92ED084" />
</head>
