#layout, h1,h2,h3,h4{
  font-family: 'Raleway'
}
.photo-box{
  display: inline-block;

  #profile_pic{
    margin-left: 30%;
    margin-top: 1em;
  }
}

.text-box{
  display: inline-block;
}

.about-heading{
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

#UM{
  height: 120px;
  width: 80px;
}

.about-subheading{
  margin-left: 20%;
}

#subjects{
  margin-left: 10%;
}

.skill{
  display: inline-block;
  text-align: center;
}

.info{
  text-align: center;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 22px;
  color: $secondaryColor;

  &:hover{
      color: $mainColor;
      @include transition(all 2s ease);

      a{
         color: $mainColor;
         @include transition(all 2s ease);
      }
  }

  a{
    text-decoration: none;
    color: $secondaryColor;
  }
}

#profile_pic{

   @media screen and (max-width: 500px) {
    height: 140px;
    width: 100px;
  }
  @media screen and (min-width: 700px) {
    height: 260px;
    width: 170px;
  }
}

.info{
     font-size: 15px;
  @media screen and (max-width: 560px) {
    font-size: 13px;
  }
  @media screen and (min-width: 800px) {
      font-size: 20px;
  }
}

.about-heading{
     font-size: 30px;
  @media screen and (max-width: 560px) {
    font-size: 20px;
  }
  @media screen and (min-width: 800px) {
      font-size: 40px;
  }
}
