html,body{
  height: 100%;
}

.splash-container {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: $secondaryColor;
  color:#eee;
  overflow:hidden;
}

.head {
  color: white;
  padding: 0;
  font-weight: 100;
  line-height: .3em;
  text-align: center;
  margin-top: 20%;
}

.subhead{
  padding: 0;
  color: white;
  line-height: .3;
  text-align: center;
  font-weight: 300;
}

.links{
  text-align: center;
}

.link{
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: 2px solid white;

}
/*.splash{
    width: 80%;
    height: 50%;
    margin: 5%;
    position: absolute;
    text-align: center;
    border: 1px solid white;
}
*/

$break-small: 500px;
$break-large: 900px;

.head {
    font-size: 80px;
  @media screen and (max-width: $break-small) {
    font-size: 40px;
  }
  @media screen and (min-width: $break-large) {
      font-size: 120px;
  }
}


.subhead {
    font-size: 40px;
  @media screen and (max-width: $break-small) {
    font-size: 20px;
  }
  @media screen and (min-width: $break-large) {
      font-size: 60px;
  }
}
