<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
<body>
  <div class="header"> 
      <div class="pure-menu-horizontal">
      <a class="pure-menu-heading">
        <span class="fat">D</span>
        <span class="medium">B</span>
        <span class="skinny">M</span>
      </a>
       <ul id="navbar" class="pure-menu-list">
          <li class="pure-menu-item btn"><a class="menu-item-link" href="/">Home</a></li>
          <li class="pure-menu-item btn"><a class="menu-item-link" href="/blog/">Posts</a></li>
          <li class="pure-menu-item btn"><a class="menu-item-link" href="/aboutme">About Me</a></li>
       </ul>
      </div>
  </div>
          {{ content }}    

</body>

</html> 